$dark-theme: true;
$border-radius: 4px;
$primary: #3ea44e;
$secondary: #f3f4f3;
$info: #007bc3;
$success: #3ea44e;
$warning: #ff9800;
$error: #d92800;
$body-text: #ffffff;
$body-bg: #000000;
$headings-text: #ffffff;
$subtle-text: #e0e0e0;
$disabled-text: #d0d0d0;
$component-text: #ffffff;
$component-bg: #202020;
$base-text: #ffffff;
$base-bg: #131413;
$hovered-text: #ffffff;
$hovered-bg: #262726;
$selected-text: #ffffff;
$selected-bg: #3ea44e;
$button-text: #ffffff;
$button-bg: #131413;
$link-text: #3ea44e;
$link-hover-text: #348a42;
$series-a: #007bc3;
$series-b: #3ea44e;
$series-c: #ffae00;
$series-d: #ef4c00;
$series-e: #a419b7;
$series-f: #430b62;

@import "~@progress/kendo-theme-classic/dist/all.scss";