@page "/AllPost"

<h3>BlogPosts</h3>

<div>


    @if (blogPostDtoList == null)
    {
        <h1>loading . . .  </h1>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in blogPostDtoList)
                {
                    <tr>
                        <td>@forecast.Title</td>
                        <td>@forecast.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@code {

    protected List<BlogPostDto> blogPostDtoList = new List<BlogPostDto>();

    protected override async Task OnInitializedAsync()
    {
        blogPostDtoList = await _httpRequestHandler
            .GetAsHttpAsync<List<BlogPostDto>>("BlogPost/GetAllBlogPost");
    }

}
