@page "/PagedBlogPosts"
<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged" />
    </div>
    <div class="col-md-5">
        <Sort OnSortChanged="SortChanged" />
    </div>
</div>
<div class="row">
    <div class="col">
        <PostTable BlogPostList="BlogPosts" />
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaDataParameter="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>