@layout TelerikLayout

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
        </div>
        <TelerikNotification @ref="@Notification.Instance" HorizontalPosition="@NotificationHorizontalPosition.Center" VerticalPosition="@NotificationVerticalPosition.Top" Class="big-notification">
        </TelerikNotification>
        <CascadingValue IsFixed="true" Value="@Notification">
            <div class="main">
                <BreadcrumbWrapper />
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </CascadingValue>
    </div>
</div>
@code{
    Notification Notification { get; set; } = new Notification();
}

