<div class="drawer-container IH10">
    <div class="IPositionFix">
        <TelerikButton OnClick="@ToggleDrawer" Icon="menu" Class="k-flat"></TelerikButton>
        <TelerikDrawer @ref="@Drawer" Data="Data" MiniMode="true"
                       Mode="@DrawerMode.Push" @bind-SelectedItem="SelectedItem">
        </TelerikDrawer>
    </div>
</div>