<section style="margin-bottom: 10px">
    <input type="text" class="form-control" placeholder="Search By Post Title"
           @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="SearchChanged" />
</section>