<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="title desc">Title DESC</option>
        <option value="author desc">Author DESC</option>
        @* todo:
            <option value="writeTime">WriteTime</option>
        <option value="writeTime desc">WriteTime DESC</option>*@
    </select>
</section>