.IW20 {
    width: 200%;
}

.IH20 {
    height: 200%;
}

.IW19 {
    width: 190%;
}

.IH19 {
    height: 190%;
}

.IW18 {
    width: 180%;
}

.IH18 {
    height: 180%;
}

.IW17 {
    width: 170%;
}

.IH17 {
    height: 170%;
}

.IW16 {
    width: 160%;
}

.IH16 {
    height: 160%;
}

.IW15 {
    width: 150%;
}

.IH15 {
    height: 150%;
}

.IW14 {
    width: 140%;
}

.IH14 {
    height: 140%;
}

.IW13 {
    width: 130%;
}

.IH13 {
    height: 130%;
}

.IW12 {
    width: 120%;
}

.IH12 {
    height: 120%;
}

.IW11 {
    width: 110%;
}

.IH11 {
    height: 110%;
}

.IW10 {
    width: 100%;
}

.IH10 {
    height: 100%;
}

.IW9 {
    width: 90%;
}

.IH9 {
    height: 90%;
}

.IW8 {
    width: 80%;
}

.IH8 {
    height: 80%;
}

.IW7 {
    width: 70%;
}

.IH7 {
    height: 70%;
}

.IW6 {
    width: 60%;
}

.IH6 {
    height: 60%;
}

.IW5 {
    width: 50%;
}

.IH5 {
    height: 50%;
}

.IW4 {
    width: 40%;
}

.IH4 {
    height: 40%;
}

.IW3 {
    width: 30%;
}

.IH3 {
    height: 30%;
}

.IW2 {
    width: 20%;
}

.IH2 {
    height: 20%;
}

.IW1 {
    width: 10%;
}

.IH1 {
    height: 10%;
}